* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tasks {
  list-style: none;
  width: 100%;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.edy {
  margin-left: 10px;
  margin-right: 40px;
  border-top: none;
  border-bottom: none;
  width: 90%;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  font-size: 1rem;
  transition: all 0.5s
}

.todo-container {
  width: 90%;
  margin: 2rem auto;
  border: 1px solid #fff;
  box-shadow: 2px 2px 7px 7px #ddd;
  border-radius: 10px;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .todo-container {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .todo-container {
    width: 30%;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 10px;
}

.mylo.crossed {
  text-decoration: line-through;
  color: rgb(177, 177, 177);
}

#enter {
  background-color: #fff
}

.bx {
  color: rgb(177, 177, 177);
}

.heading h1 {
  font-size: 1rem;
}

.heading .bx {
  cursor: pointer;
}

.i-task #move {
  cursor: move;
  display: none;
}

.i-task #trash {
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.i-task #trash:hover {
  color: rgb(211, 17, 17);
}

.edy:focus {
  background-color: rgb(234, 252, 158);
  padding-left: 10px;
  border-radius: 20px;
  transition: all 0.5s;
  outline: none;
}

#for-update {
  width: 100%;
  height: 50px;
}

button {
  display: inline-block;
  border: none;
  background-color: rgb(243, 243, 243);
  color: rgb(177, 177, 177);
  font-size: 1rem;
  transition: all 0.5s;
}

button:hover {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}

.input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input .bx {
  height: 50.71px;
  padding-top: 0.6em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-right: 10px;
}

.input .bx:hover {
  cursor: pointer;
}

.add-task {
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px;
  font-size: 1rem;
}

.add-task:focus {
  outline: none;
}

.add-task::placeholder {
  font-style: italic;
}

.check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete-btn {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: rgb(243, 243, 243);
}
